<p-toast></p-toast>

<div class="mb-3">
    <p-breadcrumb [model]="breadcrumb" [home]="home"></p-breadcrumb>
</div>

<p-table #dt1 [value]="claims" styleClass="p-datatable-striped" [scrollable]="true" [columns]="cols" dataKey="id" [rows]="10" [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[10,25,50]" [loading]="loading" [paginator]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [globalFilterFields]="['client.name','subscriber','payer','scheduleFrom','scheduleTo','scheduledHours','workedHours','startingUnits','remainingUnits','approved','employees','totalAmount']"
    [(selection)]="selectedRows" selectionMode="multiple" sortMode="multiple">
    <ng-template pTemplate="caption">
        <div class="flex">
            <!-- <button pButton label="Clear" class="p-button-outlined" icon="pi pi-filter-slash"
                (click)="clear(dt1)"></button> -->
            <p-dropdown [options]="payers" [(ngModel)]="selectedPayer" optionLabel="CompanyName" [filter]="true"
                filterBy="CompanyName" [showClear]="true" placeholder="Select a Payer" class="mr-2">
                <ng-template pTemplate="selectedItem">
                    <div *ngIf="selectedPayer">{{selectedPayer.CompanyName}}</div>
                </ng-template>
                <ng-template let-payer pTemplate="item">
                    <div>{{payer.CompanyName}}</div>
                </ng-template>
            </p-dropdown>
            <p-dropdown [options]="procedureCodes" [(ngModel)]="selectedProcedureCode" optionLabel="ProcedureServiceCode" [filter]="true"
                filterBy="ProcedureServiceCode" [showClear]="true" placeholder="Select Procedure Code" class="mr-2">
                <ng-template pTemplate="selectedItem">
                    <div *ngIf="selectedProcedureCode">{{selectedProcedureCode.ProcedureServiceCode}}</div>
                </ng-template>
                <ng-template let-code pTemplate="item">
                    <div>{{code.ProcedureServiceCode}}</div>
                </ng-template>
            </p-dropdown>
            <p-dropdown [options]="modifierCodes" [(ngModel)]="selectedModifierCode" optionLabel="ModifierCode" [filter]="true"
                filterBy="ModifierCode" [showClear]="true" placeholder="Select Modifier Code" class="mr-2">
                <ng-template pTemplate="selectedItem">
                    <div *ngIf="selectedModifierCode">{{selectedModifierCode.ModifierCode}}</div>
                </ng-template>
                <ng-template let-code pTemplate="item">
                    <div>{{code.ModifierCode}}</div>
                </ng-template>
            </p-dropdown>
            <p-calendar [(ngModel)]="rangeDates" [required]="true" placeholder="Service Date" selectionMode="range" [readonlyInput]="true" appendTo="body"
                [showIcon]="true" [showTime]="true" [showButtonBar]="true" hourFormat="12" inputId="range" class="mr-2">
            </p-calendar>
            <button [disabled]="true" pButton type="button" icon="pi pi-filter-fill" iconPos="left"></button>
            <button (click)="submit()" pButton pRipple type="button" icon="pi pi-arrow-right" iconPos="right" label="Generate Bill Now" class="p-button-rounded p-button-success ml-auto px-5"></button>
            <!-- <span class="p-input-icon-left ml-auto">
                <i class="pi pi-search"></i>
                <input pInputText type="text" (input)="dt1.filterGlobal($any($event?.target).value, 'contains')"
                    placeholder="Search keyword" />
            </span> -->
        </div>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
        <!-- <tr>
            <th style="width: 1rem">&nbsp;</th>
            <th style="width: 1rem">&nbsp;
                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th style="width: 3rem">
                <p-columnFilter field="client" matchMode="in" [showMenu]="false">
                    <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                        <p-multiSelect [ngModel]="value" [options]="representatives" placeholder="Any"
                            (onChange)="filter($event.value)" optionLabel="name">
                            <ng-template let-option pTemplate="item">
                                <div class="p-multiselect-representative-option">
                                    <img [alt]="option.label" src="assets/demo/images/avatar/{{option.image}}"
                                        width="32" style="vertical-align: middle" />
                                    <span class="ml-1">{{option.name}}</span>
                                </div>
                            </ng-template>
                        </p-multiSelect>
                    </ng-template>
                </p-columnFilter>
            </th>
            <th>
                <p-columnFilter type="text" field="subscriber"></p-columnFilter>
            </th>
            <th>
                <p-columnFilter type="text" field="payer"></p-columnFilter>
            </th>
            <th>
                <p-columnFilter type="text" field="scheduleFrom"></p-columnFilter>
            </th>
            <th>
                <p-columnFilter type="text" field="scheduleTo"></p-columnFilter>
            </th>
            <th>
                <p-columnFilter type="text" field="scheduledHours"></p-columnFilter>
            </th>
            <th>
                <p-columnFilter type="text" field="workedHours"></p-columnFilter>
            </th>
            <th>
                <p-columnFilter type="text" field="startingUnits"></p-columnFilter>
            </th>
            <th>
                <p-columnFilter type="text" field="remainingUnits"></p-columnFilter>
            </th>
            <th>
                <p-columnFilter type="text" field="approved"></p-columnFilter>
            </th>
            <th>
                <p-columnFilter type="text" field="employees"></p-columnFilter>
            </th>
            <th>
                <p-columnFilter type="text" field="totalAmount"></p-columnFilter>
            </th>
        </tr> -->
        <tr>
            <th style="min-width: 2rem">&nbsp;</th>
            <th style="width: 1rem">
                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th *ngFor="let col of columns" [pSortableColumn]="col.field" style="min-width: 10rem">
                <div class="flex justify-content-between align-items-center">
                    {{col.header}}
                    <p-sortIcon [field]="col.field"></p-sortIcon>
                    <p-columnFilter type="text" [field]="col.field" display="menu" class="ml-auto"></p-columnFilter>
                </div>
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-customer let-expanded="expanded">
        <tr class="p-selectable-row">
            <td style="min-width: 2rem">&nbsp;
                <button type="button" pButton pRipple [pRowToggler]="customer" class="p-button-text p-button-rounded p-button-plain" [icon]="expanded ? 'pi pi-minus' : 'pi pi-plus'"></button>
            </td>
            <td style="width: 1rem">
                <p-tableCheckbox [value]="customer"></p-tableCheckbox>
            </td>
            <td style="min-width: 10rem">
                <img class="mr-2" [alt]="customer.client.name" src="assets/demo/images/avatar/{{customer.client.image}}"
                    width="32" style="vertical-align: middle" />
                <span class="image-text">{{customer.client.name}}</span>
            </td>
            <td style="min-width: 10rem">
                {{customer.subscriber}}
            </td>
            <td style="min-width: 10rem">
                {{customer.payer}}
            </td>
            <td style="min-width: 10rem">
                {{customer.scheduleFrom}}
            </td>
            <td style="min-width: 10rem">
                {{customer.scheduleTo}}
            </td>
            <td style="min-width: 10rem">
                {{customer.scheduledHours}}
            </td>
            <td style="min-width: 10rem">
                {{customer.workedHours}}
            </td>
            <td style="min-width: 10rem">
                {{customer.startingUnits}}
            </td>
            <td style="min-width: 10rem">
                {{customer.remainingUnits}}
            </td>
            <td style="min-width: 10rem">
                {{customer.approved}}
            </td>
            <td style="min-width: 10rem">
                {{customer.employees}}
            </td>
            <td style="min-width: 10rem">
                {{customer.totalAmount}}
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="rowexpansion" let-claim>
        <tr>
            <td colspan="14">
                <div class="p-3" style="flex: 1">
                    <p-table [value]="claim.orders" dataKey="id">
                        <ng-template pTemplate="header">
                            <tr>
                                <th>Service From</th>
                                <th>Service To</th>
                                <th>Worked Hours</th>
                                <th>Service Rate</th>
                                <th>Billed Amount</th>
                                <th>Procedure Code</th>
                                <th>Modifier</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-order>
                            <tr>
                                <td>{{order.id}}</td>
                                <td>{{order.customer}}</td>
                                <td>{{order.id}}</td>
                                <td>{{order.amount | currency:'USD'}}</td>
                                <td><span [class]="'order-badge order-' + order.status.toLowerCase()">{{order.status}}</span></td>
                                <td><p-button type="button" icon="pi pi-search"></p-button></td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="emptymessage">
                            <tr>
                                <td colspan="6">There are no data for this claim yet.</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
        <tr>
            <td colspan="5">No claims found.</td>
        </tr>
    </ng-template>
</p-table>