<p-table #dt1 [value]="claims" [columns]="cols" dataKey="id" [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]"
    [loading]="loading" [paginator]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [globalFilterFields]="['subscriber','payer','scheduleFrom','scheduleTo','scheduledHours','workedHours','startingUnits','remainingUnits','approved','employees','totalAmount']"
    [(selection)]="selectedRows" selectionMode="multiple">
    <ng-template pTemplate="caption">
        <div class="flex">
            <button pButton label="Clear" class="p-button-outlined" icon="pi pi-filter-slash"
                (click)="clear(dt1)"></button>
            <span class="p-input-icon-left ml-auto">
                <i class="pi pi-search"></i>
                <input pInputText type="text" (input)="dt1.filterGlobal($event?.target && $event?.target, 'contains')"
                    placeholder="Search keyword" />
            </span>
        </div>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th>
                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th *ngFor="let col of columns">
                {{col.header}}
            </th>
        </tr>
        <tr>
            <th>
                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th>
                <p-columnFilter field="client" matchMode="in" [showMenu]="false">
                    <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                        <p-multiSelect [ngModel]="value" [options]="representatives" placeholder="Any"
                            (onChange)="filter($event.value)" optionLabel="name">
                            <ng-template let-option pTemplate="item">
                                <div class="p-multiselect-representative-option">
                                    <img [alt]="option.label" src="assets/demo/images/avatar/{{option.image}}"
                                        width="32" style="vertical-align: middle" />
                                    <span class="ml-1">{{option.name}}</span>
                                </div>
                            </ng-template>
                        </p-multiSelect>
                    </ng-template>
                </p-columnFilter>
            </th>
            <th>
                <p-columnFilter type="text" field="subscriber"></p-columnFilter>
            </th>
            <th>
                <p-columnFilter type="text" field="payer"></p-columnFilter>
            </th>
            <th>
                <p-columnFilter type="text" field="scheduleFrom"></p-columnFilter>
            </th>
            <th>
                <p-columnFilter type="text" field="scheduleTo"></p-columnFilter>
            </th>
            <th>
                <p-columnFilter type="text" field="scheduledHours"></p-columnFilter>
            </th>
            <th>
                <p-columnFilter type="text" field="workedHours"></p-columnFilter>
            </th>
            <th>
                <p-columnFilter type="text" field="startingUnits"></p-columnFilter>
            </th>
            <th>
                <p-columnFilter type="text" field="remainingUnits"></p-columnFilter>
            </th>
            <th>
                <p-columnFilter type="text" field="approved"></p-columnFilter>
            </th>
            <th>
                <p-columnFilter type="text" field="employees"></p-columnFilter>
            </th>
            <th>
                <p-columnFilter type="text" field="totalAmount"></p-columnFilter>
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-customer>
        <tr>
            <td>
                <p-tableCheckbox [value]="customer"></p-tableCheckbox>
            </td>
            <td>
                <img class="mr-1" [alt]="customer.client.name" src="assets/demo/images/avatar/{{customer.client.image}}"
                    width="32" style="vertical-align: middle" />
                <span class="image-text">{{customer.client.name}}</span>
            </td>
            <td>
                {{customer.subscriber}}
            </td>
            <td>
                {{customer.payer}}
            </td>
            <td>
                {{customer.scheduleFrom}}
            </td>
            <td>
                {{customer.scheduleTo}}
            </td>
            <td>
                {{customer.scheduledHours}}
            </td>
            <td>
                {{customer.workedHours}}
            </td>
            <td>
                {{customer.startingUnits}}
            </td>
            <td>
                {{customer.remainingUnits}}
            </td>
            <td>
                {{customer.approved}}
            </td>
            <td>
                {{customer.employees}}
            </td>
            <td>
                {{customer.totalAmount}}
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
        <tr>
            <td colspan="5">No customers found.</td>
        </tr>
    </ng-template>
</p-table>